<!doctype html>
<html lang="es">
  <head>
    <title>Los incendios de España en llamas</title>
  </head>
  <body>
    <h1>Incendios de España entre 2004 y 2014</h1>
    <table border=1 cellpadding=7>
      <tr>
	<th>Enlace</th>
        <th>Superficie Forestal Quemada</th>
        <th>Muertos</th>
        <th>Heridos</th>
        <th>Comunidad</th>
        <th>Causa</th>
        <th>Perdidas</th>
    </tr>
    {% for obj in object_list %}
      <tr>
	<td><a href="{{ obj['IDPIF'] }}/">{{ obj['IDPIF'] }}</a>
        <td>{{ obj['SUPQUEMADA'] }}</td>
        <td>{{ obj['MUERTOS'] }}</td>
        <td>{{ obj['HERIDOS'] }}</td>
        <td>{{ obj['COMUNIDAD'].decode('UTF-8') }}</td>
        <td>{{ obj['CAUSA'].decode('UTF-8')  }}</td>
        <td>{{ obj['PERDIDAS'] }}</td>
    </tr>
    {% endfor %}
    </table>
  </body>
</html>
